@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--inter-font);
}

body {
    width: 100%;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
    position: relative;
}

a:hover {
    color: var(--secondary-color);
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

:root {
    --inter-font: 'Inter', sans-serif;
    --primary-color: #121417;
    --secondary-color: #0D80F2;
    --gray-color: #61758A;
    --light-gray-color: #F0F2F5;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;

    .navbar__logo {
        align-self: center;
        display: flex;
        flex-direction: row;
        margin: 0 40px;
        font-weight: 600;
    }

    .navbar__logo:hover {
        cursor: pointer;
    }
    
    .navbar__logo-icon {
        margin-right: 16px;
    }
    
    .navbar__links {
        display: flex;
        align-items: row;
        list-style: none;
        margin: 0;        
    }
    
    .navbar__links li {
        margin: 21.5px 16px
    }
    
    .navbar__user-profile-container {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        height: 40px;
        margin: 13px 40px 13px auto;
        align-items: center;

        .navbar__create-ticket-button {
            background-color: var(--secondary-color);
            color: #FFFFFF;
            height: 100%;
            width: 125px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            margin-right: 32px;
            cursor: pointer;
        }

        .navbar__user-profile {
            cursor: pointer;
            position: relative;

            .navbar__user-profile-dropdown {
                position: absolute;
                top: 100%;
                right: 0; /* отталкивание от правого края */
                min-width: 160px;
                /* max-width: calc(100vw - 16px); не вылезает за экран */
                box-sizing: border-box;
                background: white;
                border: 1px solid #ccc;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                z-index: 100;
                padding: 8px 0;
                border-radius: 8px;
                opacity: 0;
                /* display: none; */
                transition: opacity 0.2s ease;
                pointer-events: none;

                .navbar__user-profile-dropdown-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    padding-left: 4px;
                    padding-right: 4px;

                    .navbar__user-profile-dropdown-list-element {
                        padding: 10px 16px;
                        cursor: pointer;
                        font-weight: 400;
                        border-radius: 4px;
                    }

                    .navbar__user-profile-dropdown-list-element:hover {
                        background-color: var(--light-gray-color);
                    }
                }
                
                  
            }

            .navbar__user-profile-dropdown--open {
                padding: 8px 0;
                /* height: auto; нужно JS-решение для высоты */
                opacity: 1;
                display: block;
                pointer-events: auto;
            }
        }

        .navbar__user-profile img {
            margin-top: 3px;
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
    }   
}

#log_out_button {
    color: red;
}
